html {
  background-image: url(./assets/57a3513e2ca93a9f71ff8d78b9f02e71.jpg);
}

#container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
  padding: 0 24px;
}

h1 {
  text-align: center;
  background-color: aquamarine;
  padding: 10px;
  border-bottom: 10px;
}

#items{
    background-color: aquamarine;
}
